.video__description {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.video__add-comments {
  #commentForm {
    background-color: $bg;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    textarea {
      text-align: center;
    }
    button {
      padding: 8px;
    }
  }
}
