.video__info {
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0px;
  }
  .solid {
    border-top: 0.05px solid $bg2;
  }
  .video__description {
    padding: 20px 0px;
  }
  .video__createdAt {
    opacity: 0.7;
    font-size: 16px;
  }
}

.video__owner {
  margin-top: 10px;
  a {
    display: flex;
    align-items: center;
    .owner__name {
      margin-left: 10px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 999px;
    background-color: $bg2;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}
